body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 20px;
}

.quoteTable {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.quoteItem {
    background-color: #c0c0c0;
    border: 1px solid grey;
    padding: 20px;
    text-align: center;
}

.bullet-text {
    list-style-type: disc;
    margin-left: 20px;
}

.page-break {
    page-break-before: always;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    line-height: 1.2;
    vertical-align: middle;
    font-size: 9px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 6px;
    width: auto;
}

table td {
    width: auto;
    word-wrap: break-word;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

h3, ul {
    page-break-inside: avoid;
    white-space: nowrap;
}
